* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121217;
  color: #eee;
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: visible;
}


a {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #21a1f1;
}

.container {
  margin: 0 auto;
  padding: 2rem;
}

.page-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #1e1e2f;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #61dafb;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: #21a1f1;
}
